/******************************************************************
STYLESHEET: BOX

******************************************************************/

.sites {
    font-size: 1rem;
    width: 32%;
    margin-right: 2%;
    // padding: 0 1.5em;
    float: left;
    transition: all 0.1s ease-in;
    background-color: $c_light;
    box-shadow: 0 0 10px -1px rgba($c_dark, 0.1);

    &:hover {
        box-shadow: 0 0 15px -1px rgba($c_dark, 0.3);
    }

    &-title {
        font-size: 1rem;
        color: $c_light;
        margin: 0;
        padding: 1.3em 2em;
        cursor: default;

        &--c1 {
            background-color: $c_1;
        }

        &--c2 {
            background-color: $c_2;
        }

        &--c3 {
            background-color: $c_3;
        }

        &--c4 {
            background-color: $c_4;
        }

        &--c5 {
            background-color: $c_5;
        }

        &--c6 {
            background-color: $c_6;
        }

        &--c7 {
            background-color: $c_7;
        }

        &--c8 {
            background-color: $c_8;
        }

        &--c9 {
            background-color: $c_9;
        }
    }

    &-items {
        list-style: none;
        padding: 1.5em 0;
        margin: 0;
    }

    &-item {
        display: block;
        font-size: 0.9rem;

        &:last-child {
            border-bottom: 0;
        }
    }

    &-link {
        display: block;
        padding: 0.7em 2.2em;
        text-decoration: none;
        color: $grey_dark;
        transition: all 0.05s ease-in;
        font-weight: bold;

        &:hover {
            color: $c_dark;
        }
    }
}
