/******************************************************************
STYLESHEET: BOX

******************************************************************/

.sites {
    font-size: 1rem;
    width: 32%;
    margin-right: 2%;
    margin-bottom: 2em;
    // padding: 0 1.5em;
    float: left;
    // transition: all 0.1s ease-in;
    background-color: $c_light;
    box-shadow: 0 0 10px -1px rgba($c_dark, 0.1);

    &:hover {
        box-shadow: 0 0 15px -1px rgba($c_dark, 0.3);
    }

    &-title {
        font-size: 1rem;
        color: $c_light;
        margin: 0;
        padding: 1.3em 2em;
        cursor: default;
        background-color: $c_1;

        &--c0 {
            background-color: $c_2;
        }

        &--c1 {
            background-color: $c_3;
        }

        &--c2 {
            background-color: $c_3;
        }

        &--c3 {
            background-color: $c_3;
        }

        &--c4 {
            background-color: $c_4;
        }

        &--c5 {
            background-color: $c_4;
        }

        &--c6 {
            background-color: $c_4;
        }

        &--c7 {
            background-color: $c_4;
        }

        &--c8 {
            background-color: $c_4;
        }

        &--c9 {
            background-color: $c_4;
        }
    }

    &-category {
        padding: 0 0 0.5em 2.2em;
        margin: 1.95em 0 0 0;
        font-size: 0.9rem;
        color: $grey_light;

        &:first-child {
            margin-top: 0.5em;
        }
    }

    &-items {
        list-style: none;
        padding: 1.5em 0;
        margin: 0;
    }

    &-item {
        display: block;
        font-size: 0.9rem;

        &:last-child {
            border-bottom: 0;
        }
    }

    &-link {
        display: block;
        padding: 0.7em 2.2em;
        text-decoration: none;
        color: $grey_dark;
        transition: all 0.05s ease-in;
        font-weight: bold;
        cursor: pointer;

        &:hover {
            color: $c_dark;
        }
    }

    &--full {
        width: 100%;
    }
}

.todo-list {

    &-item {

        &::before {
            content: "";
            display: inline-block;
            vertical-align: middle;
            margin-right: 1em;
            width: 22px;
            height: 22px;
            border: 2px solid $grey_light;
            border-radius: 2px;
            transition: all 0.05s ease-in;
            color: $grey_light;
        }

        &:hover {
            color: $grey_light;

            &::before {
                content: "\02713";
                margin-right: 0.75em;
                border: 2px solid $grey_light;
                font-size: 1.2rem;
                line-height: 0.9;
                padding-left: 2px;
            }
        }
    }

    &-form {
        padding: 2em 2em 0;
        position: relative;
    }

    &-input {
        display: inline-block;
        color: $grey_dark;
        background-color: $grey_lighter;
        padding: 1em 4em 1em 1.5em;
        margin: 0;
        font-size: 0.9rem;
        font-weight: bold;
        // border: 2px solid $grey_lighter;
        border: none;
        outline: none;
        width: 100%;
        height: 45px;
    }

    &-button {
        display: inline-block;
        position: absolute;
        right: 2.5em;
        top: 2.7em;
        color: $grey_dark;
        background-color: $grey_light;
        padding: 0.4em 1.2em;
        font-size: 0.9rem;
        font-weight: bold;
        text-decoration: none;
        border: none;
        outline: none;
        width: auto;
        height: 32px;
        border-radius: 2px;
        transition: all 0.05s ease-in;

        &:hover {
            color: $c_light;
            background-color: $c_1;
        }
    }
}
