/******************************************************************
STYLESHEET: VARIABLES

    > COLORS
    > FONTS
    > BREAKPOINTS

This is the place for all variables.
******************************************************************/

/******************************************************************
COLORS
******************************************************************/
$black:        #272b2f;
$grey:         #EAEDED;
$grey_light:   #E5E5E5;
$grey_lighter: #F5F5F5;
$grey_dark:    #CCC;
$grey_darker:  #405466;
$white:        #fff;

$blue:    #2C3B4E;
$red:     #D63342;
$green:   #22B86C;
$yellow:  #E7CC3A;
$cyan:    #22CED0;
$purple:  #964AB9;

$c_dark:   $black;
$c_medium: $grey;
$c_light:  $white;
$c_accent: $blue;


/******************************************************************
FONTS
******************************************************************/
$sans-serif: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
$serif:      'Merriweather', 'Times New Roman', serif;

$f_base:    $sans-serif;
$f_heading: $sans-serif;
$f_link:    $serif;
$f_text:    $sans-serif;


/******************************************************************
BREAKPOINTS
******************************************************************/
$w_small:  681px;
$w_medium: 961px;
$w_large:  1361px;
