/******************************************************************
STYLESHEET: VARIABLES

    > COLORS
    > FONTS
    > BREAKPOINTS

This is the place for all variables.
******************************************************************/

/******************************************************************
COLORS
******************************************************************/
$black:        #29333A;
$dark:         #35444F;
$grey:         #EAEDED;
$grey_light:   #E4E6E7;
$grey_lighter: #F2F4F6;
$grey_dark:    #92A6B8;
$grey_darker:  #405260;
$grey_blue:    #F1F4F7;
$white:        #FBFCFC;

$blue:    #3690E3;
$blue_dark:    #38628A;
$red:     #E55462;
$red_dark:     #A83B46;
$green:   #1DDD92;
$green_dark:   #299C6F;
$yellow:  #fff191;
$yellow_dark:  #A9A061;
$cyan:    #29BFC8;
$purple:  #A338CB;
$orange:  #EF6737;
$leaf:    #4A9950;
$dreiqbik:#2c3e50;

$c_1: $red;
$c_1_dark: $red_dark;
$c_2: $green;
$c_2_dark: $green_dark;
$c_3: $yellow;
$c_3_dark: $yellow_dark;
$c_4: $blue;
$c_4_dark: $blue_dark;

$c_dark:   $black;
$c_medium: $grey;
$c_light:  $white;
$c_accent: $blue;
$c_bg: $grey_blue;


/******************************************************************
FONTS
******************************************************************/
$sans-serif: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
$serif:      'Merriweather', 'Times New Roman', serif;

$f_base:    $sans-serif;
$f_heading: $sans-serif;
$f_link:    $serif;
$f_text:    $sans-serif;


/******************************************************************
BREAKPOINTS
******************************************************************/
$w_small:  681px;
$w_medium: 961px;
$w_large:  1361px;
